//- Allowed Roles and Login
i.w3-small= `${endpoint.description}`
br
span.w3-small
	b Allowed Roles: &nbsp
if( endpoint.allowed_roles.length === 0 )
	span.w3-small anyone
else
	span.w3-small= endpoint.allowed_roles.join( ', ' )
if( endpoint.requires_login )
	span.w3-small &nbsp (requires login)
p
